* {
  font-family: Verdana;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 300px;
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
}

.vid {
  flex: 0 1 auto;
  height: 360px;
  width: 360px;
  border-radius: 10px;
  cursor: pointer;
}

.vid_local {
  height: 240px;
  width: 240px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 110px;
  right: 3px;
  border: 1px solid black;
}

.vid_remote {
  min-width: 100%;
  min-height: 60%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.hidden {
  display: none;
}